<%- include('partials/header') %>

<main>
    <h1>Welcome to the Hyrule Quest Board</h1>
    <div class="hero">
        <img src="/images/home/25th-ann.webp" alt="Hyrule Quest Board" class="hero-image">
        <div class="hero-text">
            <h2>"Adventure Awaits in Hyrule"</h2>
            <p>Embark on a journey through the land of Hyrule and take on exciting quests!</p>
            <a href="/quests" class="button">Explore Quests</a>
        </div>
    </div>
</main>

<%- include('partials/footer') %>